openapi: 3.0.1
info:
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com
  description: "REST interface to Avalara's enterprise tax service, AvaTax."
  license:
    name: Terms of Use
    url: https://www.avalara.com/terms-of-use/
  title: AvaTax API
  version: v2
servers:
- url: https://rest-sbx-preview.avalara.net/
paths:
  /api/v2/accounts/{id}:
    delete:
      deprecated: false
      description: "Deleting an account will delete all companies, and all account\
        \ level users attached to this account."
      operationId: ApiV2AccountsByIdDelete
      parameters:
      - description: The ID of the account you wish to delete.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Delete a single account
      tags:
      - Accounts
    get:
      deprecated: false
      operationId: ApiV2AccountsByIdGet
      parameters:
      - description: The ID of the account to retrieve.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: A comma separated list of child objects to return underneath
          the primary object.
        in: query
        name: $include
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve a single account
      tags:
      - Accounts
    put:
      deprecated: false
      operationId: ApiV2AccountsByIdPut
      parameters:
      - description: The ID of the account you wish to update.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountModel'
          text/json:
            schema:
              $ref: '#/components/schemas/AccountModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AccountModel'
        description: The account object you wish to update.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Update a single account
      tags:
      - Accounts
      x-codegen-request-body-name: model
  /api/v2/accounts:
    get:
      deprecated: false
      operationId: ApiV2AccountsGet
      parameters:
      - description: A comma separated list of child objects to return underneath
          the primary object.
        in: query
        name: $include
        schema:
          type: string
      - description: "A filter statement to identify specific records to retrieve,\
          \ as defined by https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#97-filtering\
          \ ."
        in: query
        name: $filter
        schema:
          type: string
      - description: "If nonzero, return no more than this number of results."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $skip
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[AccountModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve all accounts
      tags:
      - Accounts
    post:
      deprecated: false
      operationId: ApiV2AccountsPost
      parameters:
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountModel'
          text/json:
            schema:
              $ref: '#/components/schemas/AccountModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AccountModel'
        description: The account you wish to create.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Create a new account
      tags:
      - Accounts
      x-codegen-request-body-name: model
  /api/v2/addresses/resolve:
    post:
      deprecated: false
      operationId: ApiV2AddressesResolvePost
      parameters:
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/AddressInfo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AddressInfo'
        description: The address to resolve
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AddressResolutionModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve geolocation information for a specified address
      tags:
      - Addresses
      x-codegen-request-body-name: request
  /api/v2/companies/{companyId}/batches/{id}:
    delete:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdBatchesByIdDelete
      parameters:
      - description: The ID of the company that owns this batch.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of the batch you wish to delete.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Delete a single batch
      tags:
      - Batches
    get:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdBatchesByIdGet
      parameters:
      - description: The ID of the company that owns this batch
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The primary key of this batch
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve a single batch
      tags:
      - Batches
    put:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdBatchesByIdPut
      parameters:
      - description: The ID of the company that this batch belongs to.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of the batch you wish to update
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchModel'
          text/json:
            schema:
              $ref: '#/components/schemas/BatchModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BatchModel'
        description: The batch you wish to update.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Update a single batch
      tags:
      - Batches
      x-codegen-request-body-name: model
  /api/v2/companies/{companyId}/batches:
    get:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdBatchesGet
      parameters:
      - description: The ID of the company that owns these batches
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: "A filter statement to identify specific records to retrieve,\
          \ as defined by https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#97-filtering\
          \ ."
        in: query
        name: $filter
        schema:
          type: string
      - description: "If nonzero, return no more than this number of results."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $skip
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[BatchModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve all batches for this company
      tags:
      - Batches
    post:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdBatchesPost
      parameters:
      - description: The ID of the company that owns this batch.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchModel'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchModel'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/BatchModel'
              type: array
        description: The batch you wish to create.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/BatchModel'
                type: array
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Create a new batch
      tags:
      - Batches
      x-codegen-request-body-name: models
  /api/v2/batches:
    get:
      deprecated: false
      operationId: ApiV2BatchesGet
      parameters:
      - description: "A filter statement to identify specific records to retrieve,\
          \ as defined by https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#97-filtering\
          \ ."
        in: query
        name: $filter
        schema:
          type: string
      - description: "If nonzero, return no more than this number of results."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $skip
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[BatchModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve all batches
      tags:
      - Batches
  /api/v2/companies/{id}:
    delete:
      deprecated: false
      description: "Deleting a company will delete all child companies, and all users\
        \ attached to this company."
      operationId: ApiV2CompaniesByIdDelete
      parameters:
      - description: The ID of the company you wish to delete.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Delete a single company
      tags:
      - Companies
    get:
      deprecated: false
      operationId: ApiV2CompaniesByIdGet
      parameters:
      - description: The ID of the company to retrieve.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: A comma separated list of child objects to return underneath
          the primary object.
        in: query
        name: $include
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve a single company
      tags:
      - Companies
    put:
      deprecated: false
      operationId: ApiV2CompaniesByIdPut
      parameters:
      - description: The ID of the company you wish to update.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CompanyModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CompanyModel'
        description: The company object you wish to update.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Update a single company
      tags:
      - Companies
      x-codegen-request-body-name: model
  /api/v2/companies:
    get:
      deprecated: false
      operationId: ApiV2CompaniesGet
      parameters:
      - description: A comma separated list of child objects to return underneath
          the primary object.
        in: query
        name: $include
        schema:
          type: string
      - description: "A filter statement to identify specific records to retrieve,\
          \ as defined by https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#97-filtering\
          \ ."
        in: query
        name: $filter
        schema:
          type: string
      - description: "If nonzero, return no more than this number of results."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $skip
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[CompanyModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve all companies
      tags:
      - Companies
    post:
      deprecated: false
      operationId: ApiV2CompaniesPost
      parameters:
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CompanyModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CompanyModel'
        description: The company you wish to create.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Create a new company
      tags:
      - Companies
      x-codegen-request-body-name: model
  /api/v2/companies/initialize:
    post:
      deprecated: false
      operationId: ApiV2CompaniesInitializePost
      parameters:
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInitializationModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CompanyInitializationModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CompanyInitializationModel'
        description: Information about the company you wish to create.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Quick setup for a company with a single physical address
      tags:
      - Companies
      x-codegen-request-body-name: model
  /api/v2/companies/{companyId}/contacts/{id}:
    delete:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdContactsByIdDelete
      parameters:
      - description: The ID of the company that owns this contact.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of the contact you wish to delete.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Delete a single contact
      tags:
      - Contacts
    get:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdContactsByIdGet
      parameters:
      - description: The ID of the company that owns this contact
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The primary key of this contact
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContactModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve a single contact
      tags:
      - Contacts
    put:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdContactsByIdPut
      parameters:
      - description: The ID of the company that this contact belongs to.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of the contact you wish to update
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContactModel'
        description: The contact you wish to update.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContactModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Update a single contact
      tags:
      - Contacts
      x-codegen-request-body-name: model
  /api/v2/companies/{companyId}/contacts:
    get:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdContactsGet
      parameters:
      - description: The ID of the company that owns these contacts
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: "A filter statement to identify specific records to retrieve,\
          \ as defined by https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#97-filtering\
          \ ."
        in: query
        name: $filter
        schema:
          type: string
      - description: "If nonzero, return no more than this number of results."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $skip
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[ContactModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve contacts for this company
      tags:
      - Contacts
    post:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdContactsPost
      parameters:
      - description: The ID of the company that owns this contact.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ContactModel'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/ContactModel'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/ContactModel'
              type: array
        description: The contacts you wish to create.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ContactModel'
                type: array
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Create a new contact
      tags:
      - Contacts
      x-codegen-request-body-name: models
  /api/v2/contacts:
    get:
      deprecated: false
      operationId: ApiV2ContactsGet
      parameters:
      - description: "A filter statement to identify specific records to retrieve,\
          \ as defined by https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#97-filtering\
          \ ."
        in: query
        name: $filter
        schema:
          type: string
      - description: "If nonzero, return no more than this number of results."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $skip
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[ContactModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve all contacts
      tags:
      - Contacts
  /api/v2/definitions/nexus:
    get:
      deprecated: false
      operationId: ApiV2DefinitionsNexusGet
      parameters:
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[NexusModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve the full list of Avalara-supported nexus for all countries
        and regions.
      tags:
      - Definitions
  /api/v2/definitions/nexus/{country}:
    get:
      deprecated: false
      operationId: ApiV2DefinitionsNexusByCountryGet
      parameters:
      - in: path
        name: country
        required: true
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[NexusModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve the full list of Avalara-supported nexus for a country.
      tags:
      - Definitions
  /api/v2/definitions/nexus/{country}/{region}:
    get:
      deprecated: false
      operationId: ApiV2DefinitionsNexusByCountryByRegionGet
      parameters:
      - description: The two-character ISO-3166 code for the country.
        in: path
        name: country
        required: true
        schema:
          type: string
      - description: The two or three character region code for the region.
        in: path
        name: region
        required: true
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[NexusModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve the full list of Avalara-supported nexus for a country and
        region.
      tags:
      - Definitions
  /api/v2/definitions/taxcodes:
    get:
      deprecated: false
      operationId: ApiV2DefinitionsTaxcodesGet
      parameters:
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[TaxCodeModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve the full list of Avalara-supported tax codes.
      tags:
      - Definitions
  /api/v2/definitions/subscriptiontypes:
    get:
      deprecated: false
      operationId: ApiV2DefinitionsSubscriptiontypesGet
      parameters:
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[SubscriptionTypeModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve the full list of Avalara-supported subscription types
      tags:
      - Definitions
  /api/v2/definitions/taxauthorities:
    get:
      deprecated: false
      operationId: ApiV2DefinitionsTaxauthoritiesGet
      parameters:
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[TaxAuthorityModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve the full list of Avalara-supported tax authorities.
      tags:
      - Definitions
  /api/v2/definitions/taxauthorityforms:
    get:
      deprecated: false
      operationId: ApiV2DefinitionsTaxauthorityformsGet
      parameters:
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[TaxAuthorityFormModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve the full list of Avalara-supported tax authorities.
      tags:
      - Definitions
  /api/v2/companies/{companyId}/filingcalendars/{id}:
    delete:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdFilingcalendarsByIdDelete
      parameters:
      - description: The ID of the company that owns this filing calendar.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of the filing calendar you wish to delete.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Delete a single filing calendar
      tags:
      - FilingCalendars
    get:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdFilingcalendarsByIdGet
      parameters:
      - description: The ID of the company that owns this filing calendar
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The primary key of this filing calendar
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FilingCalendarModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve a single filing calendar
      tags:
      - FilingCalendars
    put:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdFilingcalendarsByIdPut
      parameters:
      - description: The ID of the company that this filing calendar belongs to.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of the filing calendar you wish to update
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilingCalendarModel'
          text/json:
            schema:
              $ref: '#/components/schemas/FilingCalendarModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FilingCalendarModel'
        description: The filing calendar you wish to update.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FilingCalendarModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Update a single filing calendar
      tags:
      - FilingCalendars
      x-codegen-request-body-name: model
  /api/v2/companies/{companyId}/filingcalendars:
    get:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdFilingcalendarsGet
      parameters:
      - description: The ID of the company that owns these filing calendars
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: "A filter statement to identify specific records to retrieve,\
          \ as defined by https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#97-filtering\
          \ ."
        in: query
        name: $filter
        schema:
          type: string
      - description: "If nonzero, return no more than this number of results."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $skip
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[FilingCalendarModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve filing calendars for this company
      tags:
      - FilingCalendars
    post:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdFilingcalendarsPost
      parameters:
      - description: The ID of the company that owns this filing calendar.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/FilingCalendarModel'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/FilingCalendarModel'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/FilingCalendarModel'
              type: array
        description: The filing calendars you wish to create.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/FilingCalendarModel'
                type: array
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Create a new filing calendar
      tags:
      - FilingCalendars
      x-codegen-request-body-name: models
  /api/v2/filingcalendars:
    get:
      deprecated: false
      operationId: ApiV2FilingcalendarsGet
      parameters:
      - description: "A filter statement to identify specific records to retrieve,\
          \ as defined by https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#97-filtering\
          \ ."
        in: query
        name: $filter
        schema:
          type: string
      - description: "If nonzero, return no more than this number of results."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $skip
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[FilingCalendarModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve all filing calendars
      tags:
      - FilingCalendars
  /api/v2/companies/{companyId}/items/{id}:
    delete:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdItemsByIdDelete
      parameters:
      - description: The ID of the company that owns this item.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of the item you wish to delete.
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Delete a single item
      tags:
      - Items
    get:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdItemsByIdGet
      parameters:
      - description: The ID of the company that owns this item object
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The primary key of this item
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ItemModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve a single item
      tags:
      - Items
    put:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdItemsByIdPut
      parameters:
      - description: The ID of the company that this item belongs to.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of the item you wish to update
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ItemModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ItemModel'
        description: The item object you wish to update.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ItemModel'
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Update a single item
      tags:
      - Items
      x-codegen-request-body-name: model
  /api/v2/companies/{companyId}/items:
    get:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdItemsGet
      parameters:
      - description: The ID of the company that owns these items
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: "A filter statement to identify specific records to retrieve,\
          \ as defined by https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#97-filtering\
          \ ."
        in: query
        name: $filter
        schema:
          type: string
      - description: "If nonzero, return no more than this number of results."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $skip
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[ItemModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Retrieve items for this company
      tags:
      - Items
    post:
      deprecated: false
      operationId: ApiV2CompaniesByCompanyIdItemsPost
      parameters:
      - description: The ID of the company that owns this item.
        in: path
        name: companyId
        required: true
        schema:
          format: int32
          type: integer
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ItemModel'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/ItemModel'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/ItemModel'
              type: array
        description: The item you wish to create.
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ItemModel'
                type: array
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
      summary: Create a new item
      tags:
      - Items
      x-codegen-request-body-name: models
  /api/v2/items:
    get:
      deprecated: false
      operationId: ApiV2ItemsGet
      parameters:
      - description: "A filter statement to identify specific records to retrieve,\
          \ as defined by https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#97-filtering\
          \ ."
        in: query
        name: $filter
        schema:
          type: string
      - description: "If nonzero, return no more than this number of results."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $skip
        schema:
          format: int32
          type: integer
      - description: "A comma separated list of sort statements in the format '(fieldname)\
          \ [ASC|DESC]', for example 'id ASC'."
        in: query
        name: $orderBy
        schema:
          type: string
      - description: "Account Services v2 supports three types of authentication:\
          \ OpenID bearer token (recommended), basic license key, and basic password:\r\
          \n                    <ul>\r\n                        <li>Bearer [accessToken]</li>\r\
          \n                        <li>Basic [accountId]:[licenseKey]</li>\r\n  \
          \                      <li>Basic [userName]:[password]</li>\r\n        \
          \            </ul>\r\n                    Please note that for Basic methods,\
          \ you must encode the right side of the string in Base64."
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/FetchResult[ItemModel]"
          description: OK
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: NotFound
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: Unauthorized
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResult'
          description: BadRequest
      security:
      - UserSecurity: []
        ApiKeySecurity: []
        OauthSecurity: []
[...]
